*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header{
   height: 95vh; 
    background: linear-gradient(
        to right bottom,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)), 
       /* url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGFuZHNjYXBlJTIwZm9vdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60') no-repeat center center/cover;*/
         url('../img/css.jpg') no-repeat center center/cover;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        position: relative;
        /*parent element*/
}   

.logo-box{
    position: absolute; /*in relation to the parent element*/
    top: 30px;
    left: 30px;

}

.logo{
    width: 60px;
   
}

.text-box{
    position: absolute;
    top: 40%; /*in relation to the parent element*/
    left: 50%;
    transform: translate(-50%, -50%); /*50% of the parent element*/
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; /*hides the back of an element when it is not facing the screen*/

}

.heading-primary-main{
   display: block; /*takes up 100% of the width space, forces next element to start a new line*/
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft; /*call animation*/
    animation-duration: 1s; /*set properties*/
    animation-timing-function: ease-out; /*speed of animation*/

    /*  animation-delay: 3s;*/ /*delay before animation starts*/
/*  animation-iteration-count: 3;*/ /*number of times animation should run*/

}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out; /*call animation*/
}
/*animations set up here*/
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}