.header{
   height: 95vh; 
    background: linear-gradient(
    to right bottom,
    rgba($color-primary-light, .6),
    rgba($color-primary-dark, .6)), 
        url('../img/css.jpg') no-repeat center center/cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}
    &__logo{
    width: 7rem;
    height: 3.8rem;
    shape-rendering: auto;

    }

    &__text-box{
    position: absolute;
    top: 40%; /*in relation to the parent element*/
    left: 50%;
    transform: translate(-50%, -50%); /*50% of the parent element*/
    text-align: center;
    }
        /*parent element*/
}   

