.header{
   height: 85vh; 
    background: linear-gradient(
    to right bottom,
    rgba($color-primary-light, .6),
    rgba($color-primary-dark, .6)), 
        url('../img/css-medium.jpg') no-repeat center center/cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

// media queries always in em units, eg; 2000/16 = 125em
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
    --web-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: var(--web-clip-path);
    clip-path: var(--web-clip-path);
}


    @media (min-resolution:192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width: 125em){

        background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, .6),
        rgba($color-primary-dark, .6)), 
            url('../img/css-large.jpg') no-repeat center center/cover;
    }
    
    @include respond(phone){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
    &__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}
    &__logo{
    width: 8rem;
    height: 8rem;
    shape-rendering: auto;

    }

    &__text-box{
    position: absolute;
    top: 40%; /*in relation to the parent element*/
    left: 50%;
    transform: translate(-50%, -50%); /*50% of the parent element*/
    text-align: center;
    }
        /*parent element*/
}   

