$color-primary: #171817;
$color-primary-light: #3f423f;
$color-primary-dark: #5b6360;

$color-grey-dark: #777;
$color-grey-medium: #999;
$color-grey-light: #eee;

$color-white: #fff;
$color-black: #000;