body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; /*hides the back of an element when it is not facing the screen*/
    margin-bottom: 6rem;

    &--main{
    display: block; /*takes up 100% of the width space, forces next element to start a new line*/
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft; /*call animation*/
    animation-duration: 1s; /*set properties*/
    animation-timing-function: ease-out; /*speed of animation*/

    /*  animation-delay: 3s;*/ /*delay before animation starts*/
/*  animation-iteration-count: 3;*/ /*number of times animation should run*/

    }

    &--sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out; /*call animation*/
    }
}

